main {
  display: flex;
  justify-content: center;
}

.flex-paragraph {
  display: flex;
  align-items: center;
}

.flex-paragraph p {
  font-size: large;
  margin-right: 10px;
}

.flex-paragraph h1 {
  margin: 0;
}
